*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
}

// colors
$gray : #bbd8f5;
$primary : #e3774c;
$link : #2200ff;
$black: #1a1a1a;

.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0px 15px;
}



